* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  z-index: 10;
}
.header ul.top {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  color: #0000a9;
  font-weight: bold;
  font-size: 20px;
}
.header ul.top li {
  padding: 10px 10px;
}
.header ul.top li:last-of-type {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}
.header ul.top li:last-of-type i {
  cursor: pointer;
  font-size: 30px;
  display: none;
}
.header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}
.header .main-header i {
  padding: 15px;
  border-radius: 50%;
  background-color: #eee;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  color: #0000a9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.header .main-header i:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .main-header input {
  width: 70%;
  border-radius: 30px;
  border: none;
  outline: 1px solid #0000a966;
  background-color: #eee;
  padding: 10px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header .main-header input:hover {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header .main-header img {
  max-width: 15%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .header-tab {
  width: 100%;
}
.header .header-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.header .header-tab ul li {
  padding: 10px;
  margin: 10px;
  font-size: 19px;
  padding-bottom: 0;
  cursor: pointer;
  height: 40px;
}
.header .header-tab ul li.categories {
  border-bottom: 2px solid #5c5c5c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header-tab ul li.categories:hover, .header .header-tab ul li.categories.clicked {
  background-color: #5c5c5c;
  color: white;
  border-radius: 15px;
}
.header .header-tab ul li.shop {
  border-bottom: 2px solid #0000a9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header-tab ul li.shop:hover, .header .header-tab ul li.shop.clicked {
  background-color: #0000a9;
  color: white;
  border-radius: 15px;
}
.header .header-tab ul li.tickets {
  border-bottom: 2px solid #ebff0f;
}
.header .header-tab ul li.tickets:hover {
  border-width: 3px;
}
.header .header-tab ul li.online {
  border-bottom: 2px solid #ff9900;
}
.header .header-tab ul li.online:hover {
  border-width: 3px;
}
.header .header-tab ul li.offers {
  border-bottom: 1px solid purple;
}
.header .header-tab ul li.offers:hover {
  border-width: 3px;
}
.header .header-tab ul li.arrival {
  border-bottom: 1px solid brown;
}
.header .header-tab ul li.arrival:hover {
  border-width: 3px;
}
.header .header-tab ul li.trending {
  border-bottom: 1px solid #0075ff;
}
.header .header-tab ul li.trending:hover {
  border-width: 3px;
}
.header .header-tab ul li.renewed {
  border-bottom: 1px solid #00c900;
}
.header .header-tab ul li.renewed:hover {
  border-width: 3px;
}

.popup {
  z-index: 110010;
  position: fixed;
  top: 10%;
  right: 50%;
  background-color: white;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.popup:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.popup a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
}

@media (max-width: 968px) {
  .header ul li {
    display: none;
  }
  .header ul li:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header ul li:last-of-type i {
    display: block;
  }
  .header ul li:last-of-type img {
    position: absolute;
    width: 150px;
    right: 10%;
  }
  .header .main-header img {
    display: none;
  }
}
@media (max-width: 533px) {
  .header ul li:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;
  }
  .header ul li:last-of-type img {
    position: relative;
  }
}
.landing {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}
.landing .container {
  margin-top: 10%;
  height: 50%;
  width: 80%;
  margin-left: 10%;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
}

.boxes {
  background-color: #eee;
  width: 100%;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.boxes .box {
  width: 250px;
  height: 350px;
  padding: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.boxes .box:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.boxes .box img {
  width: 100%;
  height: 100px;
}
.boxes .box .text {
  padding: 10px;
  text-align: center;
  position: relative;
}
.boxes .box .text h2 {
  color: #00cbcb;
  font-family: "Koulen", cursive;
  letter-spacing: 2px;
}
.boxes .box .text .disc {
  max-width: 80%;
  margin-left: 10%;
  height: 80px;
  overflow: hidden;
  line-height: 1.6;
  color: #777;
}
.boxes .box .text .price {
  font-weight: bold;
  font-size: 20px;
}
.boxes .box .text .rate {
  position: absolute;
  top: 0px;
  left: 0px;
  color: gray;
}
.boxes .box .text .rate i {
  margin-right: 10px;
}
.boxes .box .save {
  background-color: #00cc00;
  color: white;
  border-radius: 10px;
  padding: 5px 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: -5px;
  opacity: 0.5;
  top: -5px;
}

.cat-holder {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  overflow-y: auto;
  position: fixed;
  top: 20%;
  left: 3%;
  background-color: white;
  border: 3px solid #5c5c5c;
  border-radius: 15px;
  text-align: center;
  width: 300px;
}
.cat-holder .insider {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 4px;
  line-height: 40px;
}
.cat-holder .insider:hover {
  background-color: #eee;
  font-weight: bold;
  color: #5c5c5c;
}

.shop-holder {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  overflow-y: auto;
  position: fixed;
  top: 20%;
  left: 15%;
  background-color: white;
  border: 3px solid #0000a9;
  border-radius: 15px;
  text-align: center;
  width: 300px;
}
.shop-holder .insider {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 4px;
  line-height: 40px;
}
.shop-holder .insider:hover {
  background-color: #eee;
  font-weight: bold;
  color: #0000a9;
}
/*# sourceMappingURL=main.css.map */